    opencv-python
    opencv-python-headless
    opencv-contrib-python
    scikit-learn
    lap
    filterpy
    numpy
    torch
    torchvision
    torchaudio
    deep_sort_realtime
    ultralytics
    yolov5